{
  "tabWidth": 2,
  "useTabs": false,
  "editor.formatOnSave": true,
  "[javascript]": {
    "editor.formatOnSave": true
  },
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true
  },
  "endOfLine": "lf",
   "singleQuote": true
}
